:root {
  background-color: #dad7cd;
}

input {
  padding: 6px;
  margin: 10px;
  background-color: white;

}

button.sub{
  color: black;
  display: flex;
  padding: 10px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.namesCont{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  left: 185px
}

.container {
  align-items: center;
  justify-items: center;
  padding: 80px;
  /* border: 2px solid black; */
  /* height: 1000px; */
  /* margin: 60px; */
}

.board {
  display: grid;
  height: 70vh;
  width: 40vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* border: 1px solid black; */
  /* gap: 2px;
  padding: 2px; */
  /* background-color: white; */
  /* -webkit-box-shadow: 6px 5px 15px 5px #000000; 
  box-shadow: 6px 5px 15px 5px #000000;
  /*transform: translateY(100%);*/
  /* transform: translateY(40%) translateX(120%); */
}

.title {
 display: flex;
 justify-content: center;
 align-items: center;
 /* border: 2px solid black; */
 padding: 2px;
}

#text {
  font-size: 50px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-variant: small-caps; 
  margin: 20px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  /* border: 1px solid white; */
  background: #a3b18a;
  cursor: pointer;
  /* background: #D0E4F5 url("https://picsum.photos/200"); */
}

.flipped {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
  border: 1px solid black;
  background: #588157;
  cursor: pointer;
  color: #344e41;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  background: orange;
  cursor: pointer;
  color: white;
}


.playAgainButton {
  position:absolute;
  bottom: 790px;
  border: 2px solid  black;
  background: #a3b18a;
  color: #344e41;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  padding: 10px;
  margin: -30px;
  height: 4%;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.win {
  border: 2px solid black;
  position: absolute;
  bottom: 500px;
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-style: italic;
  font-weight: bolder;

  width: 400px;
  height: 50px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  padding: 10px;
  background-color: #344e41;
  margin: -40px;
}