

.container {
  align-items: center;
  justify-items: center;
  /* padding: 30px; */
  border: 2px solid black;
  /* height: 1000px; */
  margin: 60px;
}

/* .lines {
  background-color: black;
  width: 1px;
  transform: translateX(165px);
  height: 200px;
} */

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  /* gap: 2px;
  padding: 2px; */
  /* background-color: white; */
  /* -webkit-box-shadow: 6px 5px 15px 5px #000000; 
  box-shadow: 6px 5px 15px 5px #000000;
  /*transform: translateY(100%);*/
  /* transform: translateY(40%) translateX(120%); */
}

.title {
 display: flex;
 justify-content: center;
 align-items: center;
}

#text {
  font-size: 50px;
  font-family: copperplate
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  /* border: 1px solid white; */
  background: #4C33CC;
  cursor: pointer;
  /* background: #D0E4F5 url("https://picsum.photos/200"); */
}

.flipped {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8rem;
  border: 1px solid black;
  background: #776DA6;
  cursor: pointer;
  color: #CABDD9;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  background: orange;
  cursor: pointer;
  color: white;
}

/* .turn {
  border: 8px solid black;
  color: black;
} */

.playAgainButton {
  position: relative;
  bottom: 620px;
  border: 2px solid  black;
  background: #B7D1DA;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  align-content: center;
  justify-content: center;
  justify-items: center;
}