

.container {
  align-items: center;
  justify-items: center;
  /* padding: 100px; */
  border: 2px solid black;
  /* height: 1000px; */
  margin: 200px;
  
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  /* gap: 2px;
  padding: 2px; */
  background-color: slategray;
  /* -webkit-box-shadow: 6px 5px 15px 5px #000000; 
  box-shadow: 6px 5px 15px 5px #000000; */
  /*transform: translateY(100%);*/
  /* transform: translateY(40%) translateX(120%); */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  background: orchid;
  cursor: pointer;
  /* background: #D0E4F5 url("https://picsum.photos/200"); */
}

.flipped {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  background: crimson;
  cursor: pointer;
  color: white;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  background: orange;
  cursor: pointer;
  color: white;
}

/* .turn {
  border: 8px solid black;
  color: black;
} */

.playAgainButton {
  border: 8px dotted pink;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  align-content: center;
  justify-content: center;
  justify-items: center;
}